HEV_UPDATE_MODE=detect_approve
HEV_UPDATE_CONTAINER=ha-entity-vault
HEV_UPDATE_REPO_PATH=/srv/ha-entity-vault
HEV_UPDATE_BRANCH=main
HEV_UPDATE_STATE_DIR=/var/lib/ha-entity-vault-updater
HEV_UPDATE_BACKUP_RETENTION=14
HEV_UPDATE_ALLOW_HIGH_RISK_AUTO=false
HEV_UPDATE_LOCK_FILE=/var/lock/ha-entity-vault-updater.lock
HEV_UPDATE_HEALTH_TIMEOUT_SEC=5
