[Unit]
Description=Run HA Entity Vault update manager scheduler

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=1s
Persistent=true
Unit=ha-entity-vault-update.service

[Install]
WantedBy=timers.target
